<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Trang chủ</title>
        <th:block th:replace="base :: css"></th:block>
    </head>
    <body>
        <div th:replace="base :: header"></div>

        <section class="container">
            <div class="mt-2">
                <a th:href="@{/admin/services}" class="btn btn-info">Thêm dịch vụ</a>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên dịch vụ</th>
                        <th>Giá</th>
                        <th>Địa điểm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s: ${services}">
                        <td>
                            <img th:src="${s.image}" width="200" />
                        </td>
                        <td th:text="${s.name}"></td>
                        <td th:text="${s.price} + ' VNĐ'"></td>
                        <td th:text="${s.location}"></td>
                        <td>
                            <a th:href="@{/admin/services/} + ${s.id}" class="btn btn-info">Cập nhật</a>
                            <button class="btn btn-danger" th:onclick="'deleteTravelService(\'' + @{/api/services/} + ${s.id} + '\')'">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div th:replace="base :: footer"></div>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>